<header class="main-header">
  <a routerLink="/dashboard" class="logo">
    <span class="logo-mini"><b>Brand</b>Logo</span>
    <span class="logo-lg"><b>Brand</b>Logo</span>
  </a>

  <nav class="navbar navbar-static-top">
    <a href="javascript://void(0);" (click)="openSidebar()" class="sidebar-toggle">
      <span class="sr-only">Toggle navigation</span>
      <span class="d-block d-md-none fa fa-bars"></span>
    </a>

    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <li class="nav-item">
          <div class="header-dropdown-devin el-dropdown">
              <a class="el-badge item">
                  <span><i class="fa fa-envelope"></i></span>
                  <sup class="badge badge-light">9+</sup>
              </a>
          </div>
        </li>
        <li>
          <div class="header-dropdown-devin el-dropdown">
              <a class="el-badge item ">
                <span><i class="fa fa-bell"></i></span>
                <sup class="el-badge__content is-fixed is-dot"></sup>
              </a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</header>
